<%= text_field_tag :keyword, session[:keyword], :placeholder => 'Search: ‘Boston’, ‘Unity’, ‘Android’…' %>
<div id="search-jobtype">
	<label>
		<%= check_box_tag :full_time, 1, job_checked(session[:full_time]) %>
		Full-time
	</label>
	<label>
		<%= check_box_tag :part_time, 1, job_checked(session[:part_time]) %>
		Part-time
	</label>
	<label>
		<%= check_box_tag :app_project, 1, job_checked(session[:app_project]) %>
		App project
	</label>
	<br>
</div>
<a class="rss-feed" href="/jobs.rss">
	Subscribe RSS feed to find out when new jobs are posted
</a>